#f5_sphinx_theme
#pre-commit
#recommonmark
#sphinx
#sphinx-copybutton
#sphinxcontrib-blockdiag
#sphinxcontrib-nwdiag
#sphinxcontrib-serializinghtml
sphinx==5.3.0
f5-sphinx-theme==2.6.1
sphinx-copybutton==0.5.2
